html{
    font-size:100%;
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    
}

@mixin hover {
    color:white;
    transform:translateY(-3px);
    box-shadow: 0px 1px 3px 1px #f1ff5c;
    cursor:pointer;    
}

@mixin transition-in{
    transition: color , transform 0.20s, box-shadow 0.25s;
}